.site {
  /*height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;*/
}

.site__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .loaded & {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
}

.site__title {
  font: 800 20rem/1 'moret', serif;
}

.site__description {
  font-size: 2rem;
  margin-top: -1rem;
  opacity: 0.75;
}

.site__gallery {
  height: 400rem;
  position: relative;
  //visibility: hidden;

  @media (max-width: 1200px) {
    height: 1200rem;
  }
}

.site__gallery__figure {
  position: absolute;

  &:nth-child(1) {
    height: 40rem;
    width: 70rem;
  }

  &:nth-child(2) {
    height: 50rem;
    left: 85rem;
    top: 30rem;
    width: 40rem;
  }

  &:nth-child(3) {
    height: 50rem;
    left: 15rem;
    top: 60rem;
    width: 60rem;
  }

  &:nth-child(4) {
    height: 30rem;
    right: 0;
    top: 10rem;
    width: 50rem;
  }

  &:nth-child(5) {
    height: 60rem;
    right: 15rem;
    top: 55rem;
    width: 40rem;
  }

  &:nth-child(6) {
    height: 75rem;
    left: 5rem;
    top: 120rem;
    width: 57.5rem;
  }

  &:nth-child(7) {
    height: 70rem;
    right: 0;
    top: 130rem;
    width: 50rem;
  }

  &:nth-child(8) {
    height: 50rem;
    left: 85rem;
    top: 95rem;
    width: 40rem;
  }

  &:nth-child(9) {
    height: 75rem;
    left: 5rem;
    top: 120rem;
    width: 57.5rem;
  }

  &:nth-child(10) {
    height: 43rem;
    right: 0;
    top: 215rem;
    width: 30rem;
  }

  &:nth-child(11) {
    height: 50rem;
    left: 70rem;
    top: 235rem;
    width: 80rem;
  }

  &:nth-child(12) {
    left: 5%;
    top: 300rem;
    height: 70rem;
    width: 90%;
  }
  
  &:nth-child(13) {
    height: 65rem;
    left: 75rem;
    top: 155rem;
    width: 50rem;
  }
  
  &:nth-child(14) {
    left: 5%;
    top: 380rem;
    height: 20rem;
    width: 50rem;
  }
  
  &:nth-child(15) {
    left: 0;
    top: 210rem;
    height: 60rem;
    width: 50rem;
  }
&:nth-child(16) {
    left: auto;
    top: 380rem;
    right: 5rem;
    height: 20rem;
    width: 50rem;
  }
  &:nth-child(17) {
    left: 70rem;
    top: 380rem;
    height: 70rem;
    width: 50rem;
  }

  @media (max-width: 1200px) {
    &:nth-child(1) {
      height: 60rem;
      width: 100rem;
    }

    &:nth-child(2) {
      height: 110rem;
      left: auto;
      right: 0;
      top: 25rem;
      width: 70rem;
    }

    &:nth-child(3) {
      height: 80rem;
      left: 12rem;
      top: 80rem;
      width: 89rem;
    }

    &:nth-child(4) {
      height: 60rem;
      right: 0;
      top: 153rem;
      width: 60rem;
    }

    &:nth-child(5) {
      height: 110rem;
      left: 0;
      right: auto;
      top: 180rem;
      width: 70rem;
    }

    &:nth-child(6) {
      height: 135rem;
      left: 95rem;
      top: 230rem;
      width: 87.5rem;
    }

    &:nth-child(7) {
      height: 110rem;
      left: 0;
      right: auto;
      top: 310rem;
      width: 80rem;
    }

    &:nth-child(8) {
      height: 50rem;
      left: auto;
      right: 0;
      top: 385rem;
      width: 80rem;
    }

    &:nth-child(9) {
      height: 100rem;
      left: 110rem;
      top: 450rem;
      width: 70rem;
    }

    &:nth-child(10) {
      height: 50rem;
      left: 20rem;
      right: auto;
      top: 440rem;
      width: 55rem;
    }

    &:nth-child(11) {
      height: 70rem;
      left: auto;
      right: 0;
      top: 700rem;
      width: 70rem;
    }

    &:nth-child(12) {
      left: 0;
      top: 515rem;
      height: 100rem;
      width: 90rem;
    } &:nth-child(13) {
      left: 0;
      top: 515rem;
      height: 100rem;
      width: 90rem;
    }
    
    &:nth-child(14) {
      left: 0;
      top: 515rem;
      height: 100rem;
      width: 90rem;
    } &:nth-child(15) {
      left: 0;
      top: 515rem;
      height: 100rem;
      width: 90rem;
    } &:nth-child(16) {
      left: 0;
      top: 515rem;
      height: 100rem;
      width: 90rem;
    }
  }
}

.site__gallery__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
